#container {
	width: 800px;
	display: none;
	padding: 50px;
}
#chat {
	width: 500px;
	height: 500px;
	overflow: scroll;
	margin: 20px auto;
	border: 1px solid gray;
	padding-left: 10px;
}
form, h2 {
	margin: 20px auto;
	width: 500px;
}
span {
	font-style: italic;
	color: orange;
}